/* MEMO Section1/header part goes under here */
#title{position:relative;
    max-width: 100%;
}

    #logo{position:absolute;
    top:30px;
    left:100px;
    }

        #tajam{position:absolute;
        top:30px;
    left:150px;
    color: rgb(86, 160, 160);
    font-family:serif;
    font-weight: 100;
        }

        #nav{position:absolute;
        top:55px;
        left:650px;
    
    }
            a{color: white;
            text-decoration: none;
            margin:10px;
            font-family: serif;
            font-size: large;
        }

        a:hover{color: aqua;}



            #headt{
                
                display:flex;
                justify-content: center;
                position: relative;
                bottom:400px;
                color: white;

            }

                #line{display: flex;
                    justify-content: center;
                    position: relative;
                    bottom: 400px;
                    color:aqua;


                }
                   
                    #lorem{
                        color: white;
                        display: flex;
                        justify-content: center;
                        position: relative;
                        bottom: 600px;
                        padding:200px;
                    
                        
                    }

                      #button{ display: block;
                        margin-left:auto;
                        margin-right:auto;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        bottom:750px;
                        padding: 10px;
                        background-color:transparent;
                        color: aqua;
                        border-color: aqua;
                        font-weight: border;
                        font-family: Arial, Helvetica, sans-serif;
                        border: solid 1px;
                        border-radius: 4px;
                        
                            }
            

/* DIEGO Section2 goes under here */

/* DIEGO Section3 goes under here */

/* STEFAN Section4 goes under here */
.sec4 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 50px;
}
.sec4-top {
    width: 100%;
}
.sec4-top:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 5%;
    padding-top: 15px;
    border-bottom: 2px solid rgba(0, 255, 255, 0.25);
}
.sec4-main {
    display: flex;
    justify-content: center;
    align-content: baseline;
    flex-wrap: wrap;
    width: 80%;
}
.sec4-main-content {
    align-self: baseline;
    width: 25%;
    padding: 30px;
    margin: 0;
}
.sec4-main-content:nth-of-type(3n-1){
    border-left: 1px solid rgba(128, 128, 128, 0.25);
    border-right: 1px solid rgba(128, 128, 128, 0.25);
}
.sec4-main-content:nth-child(1),
.sec4-main-content:nth-child(2),
.sec4-main-content:nth-child(3){
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}


/* STEFAN Section5 goes under here */
.sec5 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: url("/photoshop/design-assets/bgk-header.png") no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px;
}
.sec5-top {
    width: 100%;
}
.sec5-top:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 5%;
    padding-top: 0;
    border-bottom: 2px solid rgba(0, 255, 255, 0.25);
    margin-bottom: 30px;
}
.sec5-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.sec5-main-content {
    border: 1px solid gray;
    margin: 10px;
    padding: 0;
}
.sec5-main img {
    width: 220px;
    height: 230px;
    background-color: white;
    margin: 0;
}
.sec5-main h4 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: bold;
}
.sec5-main p {
    margin-top: 5px;

}
.sec5-bottom {
    padding-top: 50px;
}
.sec5-button {
    border-radius: 2px;
    border: 1px solid aqua;
    color: aqua;
    background-color: transparent;
    padding: 10px 15px;
    font-weight: bold;
}
/* WALDEMAR Section6 goes under here */

/* WALDEMAR Section7 goes under here */