/* MEMO Section1/header part goes under here */
#title{position:relative;
}

    #logo{position:absolute;
    top:30px;
    left:100px;
    }

        #tajam{position:absolute;
        top:30px;
    left:150px;
    color: rgb(86, 160, 160);
    font-family:serif;
    font-weight: 100;
        }

        #nav{position:absolute;
        top:55px;
        left:700px;
    
    }
            a{color: white;
            text-decoration: none;
            margin:10px;
            font-family: serif;
            font-size: large;
        }

        a:hover{color: aqua;}



            #headt{
                
                display:flex;
                justify-content: center;
                position: relative;
                bottom:400px;
                color: white;

            }

                #line{display: flex;
                    justify-content: center;
                    position: relative;
                    bottom: 400px;
                    color:aqua;


                }
                   
                    #lorem{
                        color: white;
                        display: flex;
                        justify-content: center;
                        position: relative;
                        bottom: 600px;
                        padding:200px;
                    
                        
                    }

                      #button{ display: block;
                        margin-left:auto;
                        margin-right:auto;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        bottom:750px;
                        padding: 10px;
                        background-color:transparent;
                        color: aqua;
                        border-color: aqua;
                        font-weight: border;
                        font-family: Arial, Helvetica, sans-serif;
                        border: solid 1px;
                        border-radius: 4px;
                        
                            }
            

/* DIEGO Section2 goes under here */
.sec2 {
    width: 80%;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
}

.sec2-img {
    margin-left: 32%;
    margin-right: 3%;
}

.sec2-content {
    margin-right: 10%;
}
/* DIEGO Section3 goes under here */
.sec3 {
    height: 550px;
    /* max-width: 1600px; */
    margin: 10vh auto;
    display: grid;
    place-items: center;
    background-image: url("photoshop/design-assets/bgk-middle.png");
}

.image-container {
    position: absolute;
}

.video-control {
    z-index: 10;
    text-align: center;
    color: white;
}
/* STEFAN Section4 goes under here */
.sec4 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

}
.sec4-top {
    width: 100%;
}
.sec4-top:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 5%;
    padding-top: 15px;
    border-bottom: 2px solid aqua;
}
.sec4-main {
    display: flex;
    justify-content: center;
    align-content: baseline;
    flex-wrap: wrap;
    width: 80%;
}
.sec4-main-content {
    width: 25%;
    padding: 10px 20px;
    margin: 0;
}

/* STEFAN Section5 goes under here */
.sec5 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: url("/photoshop/design-assets/bgk-middle.png");
    color: white;
    text-align: center;
}
.sec5-top {
    width: 100%;
}
.sec5-top:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 5%;
    padding-top: 0;
    border-bottom: 2px solid aqua;
    margin-bottom: 30px;
}
.sec5-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.sec5-main-content {
    border: 1px solid gray;
    margin: 10px;
    padding: 0;
}
.sec5-main img {
    width: 200px;
    height: 250px;
    background-color: white;
    margin: 0;
}
/* WALDEMAR Section6 goes under here */

/* WALDEMAR Section7 goes under here */